[Unit]
Description=Passkeys for browsers
CollectMode=inactive-or-failed

[Service]
ExecStart=@libexecdir@/luft-passkeys-relay
StandardInput=socket
StandardOutput=journal
StandardError=journal
CapabilityBoundingSet=
AmbientCapabilities=
NoNewPrivileges=yes
DevicePolicy=closed
DeviceAllow=/dev/uhid rw
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
PrivateNetwork=yes
IPAddressDeny=any
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
ProtectClock=yes
ProtectHostname=yes
ProtectProc=invisible
ProcSubset=pid
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
UMask=0077
