SUBSYSTEM!="block", GOTO="trustd_drives_end"

ENV{DEVTYPE}!="partition", GOTO="trustd_drives_mask_end"
ENV{ID_PART_ENTRY_UUID}!="?*", GOTO="trustd_drives_mask_end"
TEST=="/etc/trustd/decrypting/$env{ID_PART_ENTRY_UUID}", ENV{TRUSTD_MASK}="/etc/trustd/decrypting/$env{ID_PART_ENTRY_UUID}"
TEST=="/run/trustd/decrypted/$env{ID_PART_ENTRY_UUID}", ENV{TRUSTD_MASK}="/run/trustd/decrypted/$env{ID_PART_ENTRY_UUID}"
ENV{TRUSTD_MASK}!="?*", GOTO="trustd_drives_mask_end"
ENV{ID_FS_TYPE}=="?*", TEST!="holders/*/dm", GOTO="trustd_drives_mask_end"
ENV{ID_FS_UUID_ENC}=="?*", SYMLINK-="disk/by-uuid/$env{ID_FS_UUID_ENC}", SYMLINK-="disk/by-path/$env{ID_PATH}-part/by-uuid/$env{ID_FS_UUID_ENC}"
ENV{ID_FS_LABEL_ENC}=="?*", SYMLINK-="disk/by-label/$env{ID_FS_LABEL_ENC}", SYMLINK-="disk/by-path/$env{ID_PATH}-part/by-label/$env{ID_FS_LABEL_ENC}"
PROGRAM="/usr/bin/cat $env{TRUSTD_MASK}", SYMLINK+="disk/by-uuid/%c", \
  ENV{ID_FS_TYPE}="crypto_LUKS", ENV{ID_FS_USAGE}="crypto", ENV{ID_FS_VERSION}="2", ENV{ID_FS_UUID}="%c", ENV{ID_FS_UUID_ENC}="%c", \
  ENV{ID_FS_UUID_SUB}="", ENV{ID_FS_UUID_SUB_ENC}="", ENV{ID_FS_LABEL}="", ENV{ID_FS_LABEL_ENC}=""
LABEL="trustd_drives_mask_end"

TEST=="/run/trustd/held/%k", ENV{UDISKS_AUTO}="0"

ACTION=="add|change", ENV{DM_UUID}=="CRYPT-LUKS2-*", TEST=="/var/lib/trustd/changing", TAG+="systemd", ENV{SYSTEMD_WANTS}+="trustd-drives.service"

LABEL="trustd_drives_end"
