[Unit]
Description=Forward Password Requests to Relay
Documentation=man:relayd(8)
DefaultDependencies=no
Conflicts=shutdown.target systemd-ask-password-plymouth.service
After=relay-initramfs.service
Before=shutdown.target cryptsetup.target
ConditionKernelCommandLine=!rd.relay=0
ConditionVirtualization=!container
ConditionPathExists=/run/relay/ask-agent.pid

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes