[Unit]
Description=Relay Boot Continuity Daemon
Documentation=man:relayd(8)
DefaultDependencies=no
Conflicts=shutdown.target plymouth-start.service
Before=systemd-ask-password-console.service cryptsetup-pre.target
After=systemd-vconsole-setup.service sysinit.target
ExecStartPre=/usr/lib/relay/relay-efi-state.sh
ConditionPathExists=!/run/relay/disabled
ConditionKernelCommandLine=!rd.relay=0
ConditionVirtualization=!container

[Service]
Type=simple
ExecStart=/usr/bin/relayd
Restart=no
StandardInput=null
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=initrd.target