[Unit]
Description=Start encrypting the system disk
DefaultDependencies=no
ConditionPathExists=/etc/luft-trust/stage/plan.json
Wants=tpm2.target
After=systemd-udev-trigger.service tpm2.target sushi.service
Before=cryptsetup.target initrd-root-device.target sysroot.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/luft-trust encryption initrd
SyslogIdentifier=luft-trust
TimeoutSec=infinity
