[Unit]
Description=Boot splash
Documentation=https://github.com/Lantharos/Luft/tree/main/boot/sushi
DefaultDependencies=no
Wants=systemd-vconsole-setup.service
After=systemd-vconsole-setup.service
Before=systemd-ask-password-console.path cryptsetup-pre.target
Conflicts=plymouth-start.service
ConditionKernelCommandLine=sushi
ConditionVirtualization=!container
IgnoreOnIsolate=true

[Service]
Type=notify
ExecStart=@/usr/bin/sushid @sushid
KillMode=mixed
SendSIGKILL=no

[Install]
WantedBy=sysinit.target
