[Unit]
Description=Forward Password Requests to Relay
Documentation=man:sushid(8)
DefaultDependencies=no
Conflicts=shutdown.target systemd-ask-password-plymouth.service
After=sushi-initramfs.service
Before=shutdown.target cryptsetup.target
ConditionKernelCommandLine=!rd.sushi=0
ConditionVirtualization=!container
ConditionPathExists=/run/sushi/ask-agent.pid

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes